/*账单*/
.wrap{background: #eee;}
.bill{
    height:1000px;
    border-left: dashed 2px #cccccc;
    border-right: dashed 2px #cccccc;
    padding-bottom:20px;
    background:#ffffff;
    .bill-header{
        text-align: center;
        height: 60px; line-height: 60px;
        .con{position: relative;  border-bottom: dashed 2px #cccccc; }
        .title{font-size: 18px;}
        .back{ left: 15px;
          top:15px;}
        .ok{ right: 15px;
          top:15px;}

    }
    .bill-body{

    }
}  


