@import "./var.less";
@import "./head.less";

body{padding-top:70px;font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;text-shadow:0 1px 0 #d1d1d1}
/*!bootstrap*/
.wrap{width:100%}
.navbar-brand{padding:0}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{color:#fff!important}
.main{height:auto;margin-top:10px}
.modal-backdrop.in{opacity:.5}
.glyphicon{margin-right:5px}
.breadcrumb>li+li:before{content:" > "}
.breadcrumb li a{color:#333}
.breadcrumb li.active a{color:#539776}
.pagination>li>a,.pagination>li>span{color:#333}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background:#6fc89c;color:#fff;border-color:#6fc89c}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#333;font-weight:700}
.pagination>li>span{margin-right:20px}
.pagination>li>span:hover{color:#333;background:#fff;font-weight:400}
.btn-lightgreen{background:#6fc89c;color:#fff}
.btn-lightgreen:active,.btn-lightgreen:focus,.btn-lightgreen:hover{color:#fff;background-color:#539776}
.primary{color:#ec86b6}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background:#6fc89c;color:#fff}
.col-fixed-3{padding-left:15px;width:300px;padding-right:15px;position:fixed;margin-top:0}


/*!left-con*/
.left-con{height:auto;width:100%;
  .shoppingCart{width:100%;height:auto;border:1px solid #e5e5e5;border-bottom:none;border-top-left-radius:5px;border-top-right-radius:5px;padding-bottom:20px}
  .shoppingCart-list{position:relative;overflow-x:hidden;
     &.empty{background:url(../images/empty.jpg) 50% 50% no-repeat}
     ul{padding:0;margin:0;list-style:none}
     ul li{height:auto;clear:both;margin-bottom:20px;padding:10px 15px}
     ul li:after{display:table;clear:both;content:" "}
     ul li.checked{background:#f0f0f0}
     .shoppingCart-item{width:100%}
     .shoppingCart-item p{width:100%;font-weight:700;line-height:20px;margin-bottom:0}
     .shoppingCart-item p.small{font-size:.9rem;color:#666}
     .shoppingCart-item p.total{font-weight:700;color:#666;text-align:right;}

  }

  .totalprice{width:100%;text-align:right;color:#ccc;padding-right:5px}
  .totalprice span{margin-left:20px}
  .shoppingCalc .table{width:100%}
  .shoppingCalc .table .t1{width:40%;cursor:pointer}
  .shoppingCalc .table td{width:40px;height:40px;text-align:center!important;vertical-align:middle!important;position:relative;padding:0!important}
  .shoppingCalc .table .num-btn{line-height:40px;width:100%;height:100%;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;text-decoration:none;display:inline-block}
  .shoppingCalc .table .settle-accounts-btn{width:60px;height:86px;background:url(../images/jiezhang.png) no-repeat;background-size:100%;display:inline-block}
}

/*!product*/
.product .item{padding-left:10px;padding-right:10px;margin-bottom:20px}
.product .item .thumbnail{position:relative;margin-bottom:0}
.product .item .thumbnail .buy-btn,.product .item .thumbnail .list-btn{display:inline-block;width:20px;height:20px;text-decoration:none;position:absolute;color:#ea4594}
.product .item .thumbnail .prcie{font-size:.9rem}
.product .item .thumbnail .caption{position:relative;padding:5px 20px 5px 5px;height:1.6rem;font-size:.8rem}
.product .item .thumbnail .photo{width:100%;height:120px;line-height:120px;font-size:0;text-align:center;overflow:hidden;cursor:pointer}
.product .item .thumbnail .photo>img{display:inline;max-width:120px}
.product .item .thumbnail .buy-btn{right:0;top:88%}
.product .item .thumbnail .list-btn{right:0;top:8px}

/*!right-con*/
.right-con {
  .panel{border:none}
  .panel-heading{color:#fff;background:0 0;padding:10px 0;border:none}
  .panel-heading .shuaixuan{padding:10px 30px;margin-bottom:-28px;border-bottom-left-radius:0;border-bottom-right-radius:0}
  .panel-body{border:1px solid #e5e5e5;border-radius:5px;padding:25px}
  .right-con .panel-heading .nav-tabs>li{margin-left:-1px}
  .panel-heading .nav-tabs>li>a{width:120px}
  .product .item;
}

/*!item modale*/
.item-layer .buy-thumbnail{border:none;padding-left:15px;padding-right:15px}
.item-layer .buy-thumbnail>.row,.item-layer .specs{margin-top:10px}
.item-layer .specsbtn{border:1px solid #ccc;color:#ccc;width:100%;display:block}
.item-layer .specsbtn.selected,.item-layer .specsbtn:hover{border:1px solid #ec86b6;color:#ec86b6}
/*!分类列表*/
.category-list{width:100%;color:#333;position:absolute;z-index:30;height:auto;top:47px;left:15px}
.category-list .menu{width:23%;float:left;height:auto;padding-top:1px}
.category-list .menu .sub{display:block;text-decoration:none;height:40px;text-align:center;line-height:40px;border-bottom:solid 1px #e5e5e5}
.category-list .sub-menu{background:#fff;width:76%;float:left;height:auto;border:1px solid #e5e5e5;padding:15px 0;text-align:center}
.category-list .sub-menu p{text-align:center;height:60px;line-height:60px}
.category-list .sub-menu .item{display:none}
.category-list .sub-menu .item-show{display:block}
.category-list .sub-menu-category{margin:0 5px}
/*!导航栏*/
.navbar .staff{position:relative;display:block;padding-top:15px;padding-bottom:15px;height:100%;width:20%;margin-right:35px;float:left;color:#fff;text-align:center}
.navbar .nav>li span{font-size:1rem;margin:0;padding:0}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover{background:#666!important}
.navbar .nav>li>a.cur:focus,.navbar .nav>li>a.cur:hover{background:#f0f0f0!important}
.navbar .nav>li{height:50px;overflow:hidden;margin-right:10px}
.navbar .nav>li>a{margin-top:3px;border-top-left-radius:5px;border-top-right-radius:5px;padding:10px 20px;font-size:2rem;background:#666;cursor:pointer}
.navbar .nav>li>a .time{display:none}
.navbar .nav>li>a .num{color:#fff}
.navbar .nav>li>a.cur{background:#F0F0F0;color:#666}
.navbar .nav>li>a.cur .num{color:#fff;background:#666;padding:5px 10px;border-radius:30px;margin-left:-15px}
.navbar .nav>li>a.cur .time{display:inline;margin-left:10px;color:#666}
.navbar .nav>li>a.custom-add,.navbar .nav>li>a.custom-remove{padding:15px 20px}
/*!custom modale*/
.custom-layer .modal-header{border-bottom:solid 3px #93d6b3;padding:10px 30px}
.custom-layer .modal-header .close{margin-top:-20px}
.custom-layer .modal-body{padding:10px 30px}
.custom-layer .custom-table-header{width:100%;height:auto}
.custom-layer .custom-table-body{height:auto;margin-top:10px;padding:20px 30px;border:1px dashed #ccc;border-radius:5px}
.custom-layer .custom-table-body .normal{height:250px;background:url(../images/awyp.jpg) 50% 50% no-repeat}
.custom-layer .custom-table-foot{margin-top:10px}
.custom-layer .custom-table-foot .btn-default{padding:5px 20px}
.custom-layer .add-custom{width:72px;height:36px;display:inline-block;background:url(../images/add_custom.png) no-repeat;cursor:pointer;border-radius:0}
.custom-layer .cancel-custom,.custom-layer .select-ticket{width:72px;height:36px;cursor:pointer;text-align:center;border-radius:20px;display:inline-block}
.custom-layer .cancel-custom{background:#ccc;color:#fff}
.custom-layer .searchCustom button{border-top-left-radius:30px!important;border-bottom-left-radius:30px!important}
.custom-layer .searchCustom input{border-top-right-radius:30px!important;border-bottom-right-radius:30px!important}
.custom-layer .custom-sex{padding:10px 20px}
.custom-layer .custom-sex .radio{position:relative;margin:0 20px;display:inline-block}
.custom-layer .custom-sex .radio>input{position:absolute;top:0;left:0;opacity:0;margin-left:0}
.custom-layer .custom-sex .radio>label{margin-left:0;padding-left:0;width:90px;height:90px}
.custom-layer .man-radio.radio label{background:url(../images/man.png) 50% 50% no-repeat}
.custom-layer .women-radio.radio label{background:url(../images/women.png) 50% 50% no-repeat}
.custom-layer .man-radio.radio input:checked+label{background:url(../images/man_check.png) 50% 50% no-repeat}
.custom-layer .women-radio.radio input:checked+label{background:url(../images/women_check.png) 50% 50% no-repeat}
.custom-layer .custom-name,.custom-layer .custom-phone{margin-top:10px;margin-bottom:10px}
.custom-layer .custom-name .input-group-addon,.custom-layer .custom-phone .input-group-addon{background:0 0}
.custom-layer .custom-info{color:#ccc;margin-top:-20px}
.custom-layer .custom-info .row{margin-top:20px}
.custom-layer .custom-info .sex-photo{width:70px;height:70px;display:block;float:left}
.custom-layer .custom-info .sex-photo.man{background:url(../images/man_check.png) 50% 50% no-repeat;background-size:100%}
.custom-layer .custom-info .sex-photo.women{background:url(../images/women_check.png) 50% 50% no-repeat;background-size:100%}
.custom-layer .custom-info span{color:#000;margin-left:30px}
.custom-layer .custom-info .col-xs-12{padding-left:30px}
.custom-layer .custom-info .nickname{line-height:70px;font-size:1.5rem;display:block;float:left}
.custom-layer .custom-ticket{height:auto}
.custom-layer .custom-ticket-header{padding-bottom:20px}
.custom-layer .custom-ticket-body{height:300px;overflow-x:hidden}
.custom-layer .custom-ticket-body ul{list-style:none;padding:0}
.custom-layer .custom-ticket-body li{width:80%;height:90px;display:block;border:2px solid #e8e9f1;border-radius:5px;margin:10px auto 0;font-size:.8rem}
.custom-layer .custom-ticket-body li:first-child{margin-top:0}
.custom-layer .custom-ticket-body li .left{width:33%;height:100%;background:#e8e9f1;position:relative;float:left}
.custom-layer .custom-ticket-body li .right{width:66%;height:100%;position:relative;float:left;background:#fff;padding:10px 20px}
.custom-layer .custom-ticket-body li .left .m{position:absolute;font-size:2rem;left:20px;top:10px}
.custom-layer .custom-ticket-body li .left .u{position:absolute;left:30px;top:60px}
.custom-layer .custom-ticket-body li .left .m:before{content:"¥";font-size:1rem}
.custom-layer .custom-ticket-body li .right span{margin-top:5px;display:block}
.custom-layer .custom-ticket-body li .right em{font-style:normal}
.custom-layer .line{width:113%;background:#e84593;height:1px;margin-top:15px;margin-bottom:15px;margin-left:-30px;position:relative}
.custom-layer .line>span{font-size:2rem;display:block;position:absolute;left:20px;top:-5px}
/*!media*/

@media (max-width:767px){.col-fixed-3{display:none;left:0}
  body,html{font-size:12px}
}
@media (min-width:768px) and (max-width:991px){.container{padding-left:0;padding-right:0}
  .col-fixed-3{width:260px;left:0}
  body,html{font-size:124px}
}
@media (min-width:992px) and (max-width:1199px){.container{padding-left:0;padding-right:0}
  .col-fixed-3{width:280px;left:0}
  body,html{font-size:12px}
}
@media (min-width:1200px){.container{padding-left:0;padding-right:0}
  .col-fixed-3{width:300px}
  body,html{font-size:14px}
}
