@import "skin";
/*!自定义公用样式*/
.pink{color:@themeColor;}

.f_12px {font-size:12px;}
.f_14px {font-size:14px;}
.f_Bold {font-weight:bold;}
.f_Nomal {font-weight:normal;}
.f_Yahei {font-family: Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,SimHei,\9ED1\4F53;}

/*!bootstrap*/
.navbar-brand{padding:0}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{color:#fff!important}
.index{height:auto; max-width: 1400px; margin: 0 auto;}
.modal-backdrop.in{opacity:.5}
.glyphicon{margin-right:5px}
.breadcrumb{background: none; margin-bottom: 10px; font-size:.9rem}
.breadcrumb>li+li:before{content:" » "}
.breadcrumb li a{color:#333}
.breadcrumb li a:hover{ text-decoration: none;}
.breadcrumb li.active a{color:#539776}
.pagination>li>a,.pagination>li>span{color:#333}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background:#6fc89c;color:#fff;border-color:#6fc89c}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#333;font-weight:700}
.pagination>li>span{margin-right:20px}
.pagination>li>span:hover{color:#333;background:#fff;font-weight:400}
.panel-footer{background: none; border: none;}
.btn-lightgreen{background:#6fc89c;color:#fff}
.btn-lightgreen:active,.btn-lightgreen:focus,.btn-lightgreen:hover{color:#fff;background-color:#539776}
.primary{color:#ec86b6}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background:#6fc89c;color:#fff}
.col-fixed-3{padding-left:15px;width:300px;padding-right:15px;position:fixed;margin-top:0}
.col-nn-30{ padding-left: 15px; padding-right: 15px; float: left; width: 30%;}
.col-nn-23{ padding-left: 15px; padding-right: 15px; float: left; width: 23%;}
.col-nn-70{ padding-left: 15px; padding-right: 15px; float: left; width: 70%;}

@media (min-width: 768px) {

	.col-sm-33 {

		width: 33%;

		float: left;

	}

}

@media (min-width: 992px) {

	.col-md-50 {

		width: 25%;

		float: left;

	}

}

@media (min-width: 1200px) {

	.col-lg-50 {

		width: 20%;

		float: left;

	}

}


/*!共有btn*/
.btn{
	-webkit-transition: all 0ms;
	-moz-transition:  all 0ms;
	-ms-transition: all 0ms;
	-o-transition:  all 0ms;
	transition:  all 0ms;
}


/*页脚*/
.footer {padding:12px 0 18px; line-height:24px;}
.footer a:link,.footer a:visited {}
.footer a:hover,.footer a:active {}